{% extends 'chat/header.html' %}

{% block content %}

    <br>Quel salon voulez-vous rejoindre ?</br> 
    <input id="room-name-input" type="text" size="100"><br>
    <input id="room-name-submit" type="button" value="Valider"><span id="error"></span>

    <script>
        document.querySelector('#room-name-input').focus();
        document.querySelector('#room-name-input').onkeyup = function(e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#room-name-submit').click();
            }
        };

        function isEmptyOrSpaces(str){
            return str === null || str.match(/^ *$/) !== null;
        }

        document.querySelector('#room-name-submit').onclick = function(e) {
            var roomName = document.querySelector('#room-name-input').value;
            if (isEmptyOrSpaces(roomName)){
                errorMessage();
            }
            else window.location.pathname = '/chat/' + roomName + '/';
        };

        function redirectHome() {
            window.location.pathname = '';
        }

    </script>

{% endblock content %}
